# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

# TFE_HOSTNAME: ""
# TFE_CAPACITY_CONCURRENCY: ""
# TFE_CAPACITY_CPU: ""
# TFE_CAPACITY_MEMORY: ""
# TFE_DATABASE_HOST: ""
# TFE_DATABASE_NAME: ""
# TFE_DATABASE_PARAMETERS: ""
# TFE_DATABASE_USER: ""
# TFE_DISK_PATH: ""
# TFE_RUN_PIPELINE_KUBERNETES_DEBUG_ENABLED: false
# TFE_RUN_PIPELINE_KUBERNETES_DEBUG_JOBS_TTL: 86400
# TFE_OBJECT_STORAGE_TYPE: ""
# TFE_OBJECT_STORAGE_AZURE_ACCOUNT_NAME: ""
# TFE_OBJECT_STORAGE_AZURE_CONTAINER: ""
# TFE_OBJECT_STORAGE_AZURE_ENDPOINT: ""
# TFE_OBJECT_STORAGE_GOOGLE_BUCKET: ""
# TFE_OBJECT_STORAGE_GOOGLE_PROJECT: ""
# TFE_OBJECT_STORAGE_S3_ACCESS_KEY_ID: ""
# TFE_OBJECT_STORAGE_S3_BUCKET: ""
# TFE_OBJECT_STORAGE_S3_ENDPOINT: ""
# TFE_OBJECT_STORAGE_S3_REGION: ""
# TFE_OBJECT_STORAGE_S3_SERVER_SIDE_ENCRYPTION: ""
# TFE_OBJECT_STORAGE_S3_SERVER_SIDE_ENCRYPTION_KMS_KEY_ID: ""
# TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE: ""
# TFE_REDIS_USE_TLS: ""
# TFE_REDIS_USER: ""
# TFE_REDIS_HOST: ""
# TFE_REDIS_USE_AUTH: ""
# TFE_REDIS_SIDEKIQ_USE_TLS: ""
# TFE_REDIS_SIDEKIQ_USER: ""
# TFE_REDIS_SIDEKIQ_HOST: ""
# TFE_REDIS_SIDEKIQ_USE_AUTH: ""
# TFE_TLS_CIPHERS: ""
# TFE_VAULT_ADDRESS: ""
# TFE_VAULT_NAMESPACE: ""
# TFE_VAULT_PATH: ""
# TFE_VAULT_ROLE_ID: ""
# TFE_IACT_SUBNETS: ""
# TFE_IACT_TIME_LIMIT: ""
