# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

# Default values for Terraform Enterprise on Kubernetes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# Image pull secret to use for registry authentication.
imagePullSecrets:
- name: {}

# Image sets the repo, name and tag of the Terraform Enterprise image to use.
image:
 repository: quay.io
 name: hashicorp/terraform-enterprise
 tag: latest
 pullPolicy: IfNotPresent
 pullSecret: terraform-enterprise

pod:
# Configure pod annotations
  annotations: {}

# Resource limits are not set by default, to give the user the ability to set specific resource limits.
# If you do want to specify resource limits, uncomment the following lines and adjust them as necessary.
resources:
   requests:
     memory: "2500Mi"
     cpu: "750m"
#  limits:
#    memory: ""
#    cpu: ""

# TLS for end-to-end encrypted transport
tls:
  certificateSecret: terraform-enterprise-certificates
  caCertBaseDir: /etc/ssl/certs
  caCertFileName: custom_ca_certs.pem
  certMountPath: /etc/ssl/private/terraform-enterprise/cert.pem
  keyMountPath: /etc/ssl/private/terraform-enterprise/key.pem
  # certData:
  # keyData:
  # caCertData:

tfe:
    privateHttpPort: 8080
    privateHttpsPort: 8443

# nodeSelector labels for server pod assignment, formatted as a multi-line string or YAML map.
nodeSelector: {}

# Toleration Settings
# This should be either a multi-line string or YAML matching
# the Toleration array in a PodSpec.
tolerations: []
# tolerations:
# - key: "key"
#   operator: "Equal"
#   value: "value"
#   effect: "NoSchedule"

# Affinity Settings
# Commenting out or setting as empty the affinity variable, will allow
# deployment to single node services such as Minikube
# This should be either a multi-line string or YAML matching the PodSpec's affinity field.
affinity: {}
#
## Example:
#  
#  affinity: |
#    podAntiAffinity:
#      requiredDuringSchedulingIgnoredDuringExecution:
#        - labelSelector:
#            matchExpressions:
#             - key: foo
#               operator: In
#               values:
#               - bar
#          topologyKey: "kubernetes.io/hostname
#    podAffinity:
#      preferredDuringSchedulingIgnoredDuringExecution:
#        - weight: 50
#        podAffinityTerm:
#          labelSelector:
#            matchExpressions:
#            - key: foo
#              operator: In
#              values:
#                - bar
#          topologyKey: "kubernetes.io/hostname"

# Security context for the deployment template.
# The deployment securityContext is not set by default.
#This should be a YAML map corresponding to a
# Kubernetes [SecurityContext](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/) object.
securityContext: {}
    # runAsNonRoot: false
    # runAsUser: 1000
    # runAsGroup: 3000
    # fsGroup: 2000

# InitContainers is a list of init containers. Specified as a YAML list.
# This is useful if you need to run a script to provision TLS certificates or
# write out configuration files in a dynamic way.
initContainers: null
## Example ##
#initContainers:
#- name: init-demo
#  image: busybox
#  command:
#      - wget
#      - "-O"
#      - "/work-dir/index.html"
#      - http://info.cern.ch
#    args:
#  volumeMounts:
#  - name: workdir
#      mountPath "/work-dir"
#    dnsPolicy: Default
#    volumes:
#    - name: workdir
#    emptyDir: {}   

# Ingress allows ingress services to be created to allow external access
# from Kubernetes to access Terraform Enterprise pods.
ingress:
  enabled: false
  className: "" # nginx
  annotations: {}
    # nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
    - host: "" # "*.ptfe-dev.aws.ptfedev.com"
      paths:
        - path: /
          pathType: Prefix
          serviceName: "terraform-enterprise"
          portNumber: 443
  tls: []
    # - secretName: terraform-enterprise-certificates
    #   hosts:
    #   - "*.ptfe-dev.aws.ptfedev.com"

 # Injector service specific configurations
service:
  type: LoadBalancer # ClusterIP
  port: 443

env:
  TFE_ENCRYPTION_PASSWORD: "SUPERDUPERSECRET"
  TFE_HOSTNAME: "terraformernetes"
  TFE_IACT_SUBNETS: "0.0.0.0/0"
  TFE_IACT_TIME_LIMIT: "60"
  TFE_OPERATIONAL_MODE: "disk"
  TFE_TLS_VERSION: "tls_1_2_tls_1_3"
  TFE_VAULT_DISABLE_MLOCK: true
  # TFE_CAPACITY_CONCURRENCY: ""
  # TFE_CAPACITY_CPU: ""
  # TFE_CAPACITY_MEMORY: ""
  # TFE_DATABASE_HOST: ""
  # TFE_DATABASE_NAME: ""
  # TFE_DATABASE_PARAMETERS: ""
  # TFE_DATABASE_PASSWORD: ""
  # TFE_DATABASE_USER: ""
  # TFE_DISK_PATH: ""
  # TFE_OBJECT_STORAGE_AZURE_ACCOUNT_KEY: ""
  # TFE_OBJECT_STORAGE_AZURE_ACCOUNT_NAME: ""
  # TFE_OBJECT_STORAGE_AZURE_CONTAINER: ""
  # TFE_OBJECT_STORAGE_AZURE_ENDPOINT: ""
  # TFE_OBJECT_STORAGE_GOOGLE_BUCKET: ""
  # TFE_OBJECT_STORAGE_GOOGLE_CREDENTIALS: ""
  # TFE_OBJECT_STORAGE_GOOGLE_PROJECT: ""
  # TFE_OBJECT_STORAGE_S3_ACCESS_KEY_ID: ""
  # TFE_OBJECT_STORAGE_S3_BUCKET: ""
  # TFE_OBJECT_STORAGE_S3_ENDPOINT: ""
  # TFE_OBJECT_STORAGE_S3_REGION: ""
  # TFE_OBJECT_STORAGE_S3_SECRET_ACCESS_KEY: ""
  # TFE_OBJECT_STORAGE_S3_SERVER_SIDE_ENCRYPTION: ""
  # TFE_OBJECT_STORAGE_S3_SERVER_SIDE_ENCRYPTION_KMS_KEY_ID: ""
  # TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE: ""
  # TFE_OBJECT_STORAGE_TYPE: ""
  # TFE_REDIS_URL: ""
  # TFE_TLS_CIPHERS: ""
  # TFE_VAULT_ADDRESS: ""
  # TFE_VAULT_NAMESPACE: ""
  # TFE_VAULT_PATH: ""
  # TFE_VAULT_ROLE_ID: ""
  # TFE_VAULT_SECRET_ID: ""
