# Copyright IBM Corp. 2023, 2025
# SPDX-License-Identifier: MPL-2.0

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: terraform-enterprise-env-config
  namespace: {{ .Release.Namespace }}
data:
  {{- include "helpers.list-env-variables" . | indent 2 }}
  TFE_RUN_PIPELINE_DRIVER: kubernetes
  TFE_RUN_PIPELINE_KUBERNETES_NAMESPACE: {{ include "helpers.agent-namespace" . }}
  {{- if or .Values.agentWorkerPodTemplate .Values.openshift.enabled }}
  TFE_RUN_PIPELINE_KUBERNETES_POD_TEMPLATE: {{ include "k8s.addSecurityContext" . }}
  {{- end }}
  TFE_VAULT_DISABLE_MLOCK: "true"
  TFE_HTTP_PORT: "{{ .Values.tfe.privateHttpPort }}"
  TFE_HTTPS_PORT: "{{ .Values.tfe.privateHttpsPort }}"
  TFE_ADMIN_HTTPS_PORT: "{{ .Values.tfe.adminHttpsPort }}"
  {{- if or (and .Values.tlsSecondary.certData .Values.tlsSecondary.keyData) .Values.tlsSecondary.certificateSecret }}
  TFE_TLS_CERT_FILE_SECONDARY: "{{ .Values.tlsSecondary.certMountPath }}"
  TFE_TLS_KEY_FILE_SECONDARY:  "{{ .Values.tlsSecondary.keyMountPath }}"
  {{- end }}
  TFE_TLS_CERT_FILE: "{{ .Values.tls.certMountPath }}"
  TFE_TLS_KEY_FILE:  "{{ .Values.tls.keyMountPath }}"
  {{- if .Values.tls.caCertData }}
  TFE_TLS_CA_BUNDLE_FILE: {{ include "cacert.path" . }}
  {{- end }}
  {{- if and .Values.tlsRedis.certData .Values.tlsRedis.keyData .Values.tlsRedis.caCertData }}
  TFE_REDIS_CLIENT_CERT_PATH: "{{ .Values.tlsRedis.certMountPath }}"
  TFE_REDIS_CLIENT_KEY_PATH: "{{ .Values.tlsRedis.keyMountPath }}"
  TFE_REDIS_CA_CERT_PATH: "{{ .Values.tlsRedis.caCertMountPath }}"
  {{- end }}
  {{- if and .Values.tlsRedisSidekiq.certData .Values.tlsRedisSidekiq.keyData .Values.tlsRedisSidekiq.caCertData }}
  TFE_REDIS_SIDEKIQ_CLIENT_KEY_PATH: "{{ .Values.tlsRedisSidekiq.keyMountPath }}"
  TFE_REDIS_SIDEKIQ_CLIENT_CERT_PATH: "{{ .Values.tlsRedisSidekiq.certMountPath }}"
  TFE_REDIS_SIDEKIQ_CA_CERT_PATH: "{{ .Values.tlsRedisSidekiq.caCertMountPath }}"
  {{- end }}
  {{- if .Values.tfe.metrics.enable }}
  TFE_METRICS_ENABLE: "{{ .Values.tfe.metrics.enable }}"
  TFE_METRICS_HTTP_PORT: "{{ .Values.tfe.metrics.httpPort }}"
  TFE_METRICS_HTTPS_PORT: "{{ .Values.tfe.metrics.httpsPort }}"
  {{- end }}
