{{/*
Copyright (c) HashiCorp, Inc.
SPDX-License-Identifier: MPL-2.0
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: terraform-enterprise
  labels:
    app: terraform-enterprise
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: terraform-enterprise
  template:
    metadata:
      annotations:
    {{- if .Values.pod.annotations }}
    {{ toYaml .Values.pod.annotations | indent 8 }}
    {{ end }}
      labels:
        app: terraform-enterprise
    spec:
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      volumes:
        - name: certificates
          secret:
            secretName: {{ .Values.tls.certificateSecret }}
        {{- if .Values.tls.caCertData }}
        - name: ca-certificates
          secret:
            secretName: terraform-enterprise-ca-certificates
        {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Release.Namespace }}
      initContainers:
        {{ toYaml .Values.initContainers | nindent 8}}
      containers:
      - name: terraform-enterprise
        image: {{ .Values.image.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        envFrom:
          {{- range .Values.env.configMaps }}
          - configMapRef:
              name: {{ .name }}
          {{- end }}
          {{- range .Values.env.secrets }}
          - secretRef:
              name: {{ .name }}
          {{- end }}
        readinessProbe:
          httpGet:
            path: /_health_check
            port: {{ .Values.tfe.privateHttpPort }}
            scheme: HTTP
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        volumeMounts:
          - name: certificates
            mountPath: {{ .Values.tls.certMountPath }}
            subPath: tls.crt
          - name: certificates
            mountPath: {{ .Values.tls.keyMountPath }}
            subPath: tls.key
          {{- if .Values.tls.caCertData }}
          - name: ca-certificates
            mountPath: {{ include "cacert.path" . }}
            subPath: {{ .Values.tls.caCertFileName }}
          {{- end }}
        ports:
        - containerPort: {{ .Values.tfe.privateHttpPort }}
        - containerPort: {{ .Values.tfe.privateHttpsPort }}
